services:
  endee:
    image: endeeio/endee-server:latest
    container_name: endee-server
    ports:
      - "8080:8080"
    environment:
      NDD_NUM_THREADS: 0
      NDD_AUTH_TOKEN: "19b6e9675a68942c7c64b18ae694838c18767cd796a68b57e147df644d1a7f8b"
    volumes:
      - endee-data:/data
    restart: unless-stopped

volumes:
  endee-data:

